* {
  text-decoration: none;
  list-style: none;
  margin: 0px;
  font-family: "Inter", sans-serif;
}

@font-face {
  font-family: "Inter", sans-serif;
  src: url(fonts/Inter-VariableFont_slnt\wght.ttf);
}

section header {
  padding: 80px 362px 0px 362px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.firstline {
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
  text-align: center;
}

h1 {
  font-weight: 600;
  font-size: 54px;
  line-height: 62px;
  letter-spacing: -1px;
  text-align: center;
}

.description {
  font-weight: 400;
  font-size: 20px;
  line-height: 35px;
  text-align: center;
}

article .cards {
  padding-top: 48px;
  padding-bottom: 16px;
  padding-left: 10px;
}

article .row1,
.row2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin: 48px 52px 48px 52px;
}

article .cardelements {
  gap: 32px;
  padding: 0px 0px 16px 0px;
  border: 1px;
  border-color: #eaecf0;
  border: 1px solid #eaecf0;
}

.content {
  padding: 0px 16px 0px 16px;
  gap: 24px;
}

h2 {
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
}

div .info p {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}

div .socialicons {
  padding-top: 28px;
}

footer {
  width: 100%;
  background-color: rgba(83, 83, 83, 0.33);
  padding: 108px 52px 181px 52px;
  display: block;
}

footer main {
  display: flex;
  justify-content: space-between;
  width: 1440px;
}

.block1 p {
  font-weight: 400;
  font-size: 14px;
  line-height: 16.94px;
  padding-top: 32px;
}

.footernavi {
  font-weight: 600;
  font-size: 20px;
  line-height: 24.2px;
  color: rgba(30, 30, 30, 1);
}

.block2 .footernavi,
.block3 .footernavi {
  padding-left: 38px;
}

.block2 ul,
.block3 ul {
  font-weight: 400;
  font-size: 14px;
  line-height: 16.94px;
  margin-top: 71px;
}

.block2 li,
.block3 li {
  height: 48px;
}

.block2 a,
.block3 a {
  color: rgba(83, 83, 83, 1);
}

.block4 button {
  margin-top: 71px;
  background-color: rgba(5, 74, 104, 1);
  color: rgba(255, 255, 255, 1);
  padding: 14px 16px 14px 16px;
}
